node_modules/
.expo/
dist/
web-build/
*.log
.DS_Store
android/
ios/
vendor_app/.git_vendor_backup/
.firebase/
check_syntax.js
inject_service_modals.js
run_admin.bat
serve_admin.js
update_rules.js

# @generated expo-cli sync-b5df6a44d8735348b729920a7406b633cfb74d4c
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
*.pem
.env
.env*.local
*.tsbuildinfo
